.container {
    background: url('../../Img/gifLoadingPokemon.gif') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
  
    /* Flexbox styles */
    display: flex;
    flex-direction: column;
    justify-content:end;
    align-items: center;
  }
  
  .text {
    font-size: 300%;
    color: rgb(175, 70, 66);
  }