.container{
  width: 20vw;
  height: fit-content;  
  border-radius: 10px;
}
.container:hover {
  transform: scale(1.05); /* Escala la card en un 5% al pasar el mouse por encima */
}

.id{
  position: relative;
  background-color: white;
  width: fit-content;
  left: 4%;
  font-size: 100%;
  padding: 1%;
  padding-left: 0.5vw;
  padding-right:0.6vw;
  border-radius: 50vw;
}
.id:hover{
  background-color:rgb(98, 107, 107);
  cursor:default;
}
.health {
  font-size: 120%;
  font-weight: 600px;
  align-items: flex-end;
  position: absolute;
  top: 0;
  right: 0;
}

  .spanHealth {
    background-color: rgb(240, 230, 230);
    position: relative;
    display: flex;
    justify-content: space-between;
    right: 2%;
    align-items: center;
    width: fit-content;
    padding: 1%;
    padding-left: 3%;
    padding-right: 1%;
    border-radius: 50vw;
  }
  .spanHealth:hover{
  background-color:rgb(98, 107, 107);
  cursor:default;
  }
  
  .name {
    font-size:250%;
    font-weight: bold;
    width: 1vw;
  }
  .name:hover{
    cursor:default;
  }
  .divTypes {
    margin-top: 5%;
    margin-bottom: 5%;
    justify-content: space-around;
    display: flex;
  }
  .divType:hover{
    cursor:default;
  }
  .divAttack,
  .divDefense {
    display: flex;
    flex-direction: column;
    margin-bottom: 4%;
  }
  
  .stats {
    display: flex;
    justify-content: space-around;
  }
  .stats:hover{
    cursor:default
  }
  
  .attack,
  .defense {
    font-size: 220%;
    font-weight: 500;
    color: black;
  }
  
  .health {
    font-size: 120%;
    font-weight: 600;
    align-items: flex-end;
  }
  
  .image:hover {
    transition-duration: 1s;
    transform: scale(1.2, 1.2);
  }
  
  .divImage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px; 
    height: 250px; 
    margin-top: 2em; 
    position: relative; 
  }
  
  .image {
    width: 12vw;
    height: 12vw; 
  }
  
  
  .correctImg {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .spanStat,
  .stats {
    font-size: 100%;
    color: rgb(19, 11, 11);
    display: flex;
  }
  
  .title {
    padding-top: 3%;
    display: flex;
    justify-content: space-between;
  }
  @media (max-width: 1000px) {
    .name{
      font-size: 150%;
    }
    .image{
      width:25vw ;
      height:25vw ;
    }
    .attack,
    .defense{
      font-size:140%;
    }
    .container{
      width: 27vw;
    }
  }
  @media (max-width: 500px){
    .name{
      font-size: 110%;
      
    }
    .id{
      font-size: 85%;
    }
    .spanHealth{
      font-size: 80%;
    }
    .container{
      width: 27vw;
      height: 84vw;
    }
    .image{
      width:23vw;
      height: 23vw;
    }
    .attack,
    .defense {
      font-size: 110%;
      font-weight: 500;
      color: black;
    }
    
  }