.container {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  padding: 0.5% 2% 0.5% 2%;
  border-radius: 0px 0 2vw 2vw;
  background-color: rgb(136, 112, 61);
  align-items: center;
}
.buttonCreate {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vw 1vw;
  font-size: 1vw;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #000000;
  background-color: #ffc107;
  border: 3px solid #000000; /* Añadimos un borde al botón */
  border-radius: 16px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.buttonCreate:hover {
  background-color: #ffa000;
}
.divSpan {
  text-decoration: none;
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  height: 3vw;
  justify-content: center;
}

/* Search Bar styles */
.searchBar {
  grid-area: 1 / 3 / 2 / 4;
  display: flex;
  flex-wrap: wrap;
  padding: 0.10%;
  border-radius: 1vw;
  background-color: white;
  height: 3vw;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  min-width: fit-content;
  overflow: hidden;
}

.input {
  border: 0;
  margin-top: 0.5vw;
  font-size: 1vw;
  display: flex;
}
.button {
  display: flex;
  background-color: white;
  border: 0;
  width: fit-content;
  font-size: 1vw;
  border-radius: 22px;
  padding: 1vw;
}
.button:hover{
  cursor: pointer;
}
.input:focus {
  outline: none;
}
.img{
  width: 9vw;
  height: 8vw;
}
