.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .paginate {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 0, 0.9); /* Amarillo semi-transparente */
  }
  
  .button {
    font-size: 200%;
    border: 0;
    color: black;
    background-color: rgb(216, 197, 112); /* Amarillo */
    padding: 0.2% 1.2% 0.2% 1.2%;
    border-radius: 1.5vw;
  }
  .customSelect {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background: rgba(0, 0, 0, 0.753);
    padding: 18px;
    margin-top: 10px;
    color: aliceblue;
    font-weight: 500;
    border-radius: 15px ;
    font-size: 22px;
    cursor: pointer;
    outline: none;
    
  }
  
.button:hover {
    font-weight: 600;
    cursor: pointer;
}